
.products_found_container {
    background: rgb(255, 255, 255);
    border: 1px solid gray;
    height: 60%;
    width: 85%;
    position: absolute;
    z-index: 1;
    display: none;    
}

.pointer {
    cursor: pointer;
}


.fs_small {
    font-size: 0.7rem;
    
    &:hover{
        background: rgb(53, 161, 186);
        color: white;
        transition: 0.3s ease;
    }
}
.bg_dark {
    background: rgb(181, 201, 221);
    height: 3rem;
}
