
.providerreader__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1080px;
    min-width: 450px;
    //grid-template-rows: 40px auto;
    font-size: 0.6rem;

    @media screen and (min-width: 790px){
        
        font-size: 0.6rem;
    }

    @media screen and (min-width: 1000px){
        
        font-size: 0.7rem;
    }    
}

$cell_height: 2.8rem;

@mixin grid_col($col_start, $col_end, $height) {
    grid-column-start: $col_start;
    grid-column-end: $col_end;
    height: $height;
}


.gc_cell_1-2 {
    @include grid_col(1, 2, $cell_height);
}

.gc_cell_1-3 {
    @include grid_col(1, 3, $cell_height);
}

.gc_cell_1-4 {
    @include grid_col(1, 4, $cell_height);
}

.gc_cell_1-5 {
    @include grid_col(1, 5, $cell_height);
}

.gc_cell_1-6 {
    @include grid_col(1, 6, $cell_height);
}

.gc_cell_1-7 {
    @include grid_col(1, 7, 3rem);
}

.gc_cell_2-3 {
    @include grid_col(2, 3, $cell_height); 
}

.gc_cell_2-4 {
    @include grid_col(2, 4, $cell_height);
}

.gc_cell_2-5 {
    @include grid_col(2, 5, $cell_height);
}

.gc_cell_2-6 {
    @include grid_col(2, 6, $cell_height);
}

.gc_cell_2-7 {
    @include grid_col(2, 7, $cell_height);
}

.gc_cell_3-4 {
    @include grid_col(3, 4, $cell_height);
}

.gc_cell_3-5 {
    @include grid_col(3, 5, $cell_height);
}

.gc_cell_3-6 {
    @include grid_col(3, 6, $cell_height);
}

.gc_cell_3-7 {
    @include grid_col(3, 7, $cell_height);
}

.gc_cell_4-5 {
    @include grid_col(4, 5, $cell_height);
}

.gc_cell_4-6 {
    @include grid_col(4, 6, $cell_height);
}

.gc_cell_4-7 {
    @include grid_col(4, 7, $cell_height);
}

.gc_cell_5-6 {
    @include grid_col(5, 6, $cell_height);
}

.gc_cell_5-7 {
    @include grid_col(5, 7, $cell_height);
}

.gc_cell_6-7 {
    @include grid_col(6, 7, $cell_height);
}

.provider {
    background: rgb(20, 35, 55);
    color: rgb(224, 229, 232);
    font-size: 1.2rem;    
}

.subtitle {
    background: rgb(42, 60, 104);
    color: white;
    text-align: center;
    padding: 0.3rem 1rem;
    margin-top: 10px;
    height: 2rem;
}

.h-small {
    height: 1.4rem;
}

//general styles
$label_bg_color: rgb(103, 114, 128);
$label_text_color: rgb(255, 255, 244);

.providerreader__label {
    background: $label_bg_color;
    color: $label_text_color;
    padding: 0.2rem 1rem;
    margin: 0;
    height: 50%;
}

.providerreader__label_small {
    background: $label_bg_color;
    color: $label_text_color;
    padding: 0.2rem 1rem;
    margin: 0;
    height: 100%;
}

.providerreader__content {
    padding: 0.2rem 1rem;
    background: rgb(243, 242, 240);
    border: 1px solid rgb(157, 161, 172);
    height: 50%;
}

.providerreader__content_row {
    padding: 0.2rem 1rem;
    background: rgb(243, 242, 240);
    border: 1px solid rgb(157, 161, 172);
    height: 100%;
}
