.titulo{
    text-align: center;
    font-size: 72px;  
    background: -webkit-linear-gradient(left top, $primary-green, $primary-blue);
    background: linear-gradient(to  right, $primary-green, $primary-blue);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}
.transitions{
    margin-top: 10%;
}
.lbl-log{
    color: $primary-blue;
    text-align: center;
    margin-top: 50%;
}
.lbl-user{
    text-align: center;    
    color: $primary-blue;
    font-size: 1rem;
}
.btn-log{
    color: $text-btn;
    background: -webkit-linear-gradient(left top, $primary-green, $primary-blue);
    border-color: $primary-green !important;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-block{
    display: block;
    width: 100%;
}

.icon-img{
    display: block;
    text-align: center;
    width: 80px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.input-log{
    border: 2px solid $primary-green !important;
        &:focus{
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: inset 0 1px 1px rgba(0, 237, 138, 0.075), 0 0 8px rgba(0, 153, 248, 0.6);
        }
        transition: border-color .50s ease-in-out,box-shadow .50s ease-in-out;
}