.nav{
    background: #293241;
    height: 80px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0  auto;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}
.img__logo{
     width: 2.5rem;
}
.logo{
    display: flex;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
.nav__item{
    color: #fff;
    text-decoration: none;    
    font-size: small;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item::after{
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: rgb(255, 66, 24);
}
.nav__label{
    transition: 1s ease;
    &.nav__label:hover{
        color: red;
        //transition: .5s ease-in-out;
    }
}



.nav__label, .nav__input{
    display: none;
}

@media (max-width: 700px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #1B212B;
        width: 70%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        //clip-path: circle(0 at center);//despliegue de menu en circulo de adentro hacia afuera
        //clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);//despliegue de menu del centro hacia afuera
        clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);//despliegue de menu de arriba hacia abajo
        //clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);//despliegue del menu de derecha a izquierda
        //clip-path: polygon(0 0, 100% 0, 75% 0%, 25% 0%);
        transition: clip-path 0.5s ease-in-out;
    }
    .nav__input:checked + .nav__menu{
        //clip-path: circle(100% at center);//contrae el menu en circulo de afuera hacia adentro
        //clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);//contrae el menu de afuera hacia adentro
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);//contrae el menu de abajo hacia arriba
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);//contrae del menu de izquierda a derecha
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
.main{
    padding-top: 5rem;
}