.grup{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px $gray;
    padding: 10px;
    margin: 50px 0px;
    width: 100%;
}
.direction{
    background-image: url("../../images/city.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}