
//colors
$primary-green: #00ED8A;
$primary-blue: #0099F8;
$text-btn: #ffff;
$gray: #5e5d5d;
$txt: #c6c6c6;
body{
    //background-image: linear-gradient(to top, #37ecba 0%, #72afd3 50%);
    font-family: 'Poppins', sans-serif;
}